{% extends 'base.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/service.css' %}">{% endblock %}
{% block title %} Service {% endblock %}
{% block content %}
<div class="st mt-4 mx-3 ">
    <H1 class="text-warning"> Services</H1>

</div>
<hr class="border-bottom  border-warning mx-3">
<div class="container">
    <div class="row text-white my-5 text-center">
        <div class="col-md-4 ">
            <i class="fas fa-code fa-2x mb-3 cor "></i>
            <h3 class="st">Web Development</h3>
        </div>
        
        <div class="col-md-4 ">
            <i class="fas fa-palette fa-2x mb-3 cor "></i>
            <h3 class="st">Web Design</h3>
        </div>
        <div class="col-md-4">
            <i class="fas fa-head-side-virus fa-2x cor"></i>
            <h3 class="st  ">Machine Learning</h3>
        </div>
    </div>

    <div class="row text-white my-5 text-center">
        <div class="col-md-4 ">
            <i class="fas fa-database fa-2x cor"></i>
            <h3 class="st">Hosting</h3>
        </div>
        
        <div class="col-md-4 ">
            <i class="fas fa-paint-brush fa-2x cor"></i>
            <h3 class="st">Poster Design</h3>
        </div>
        <div class="col-md-4">
            <i class="fas fa-ad fa-2x mb-3 cor "></i>
            <h3 class="st  ">Advertising</h3>
        </div>
    </div>

    <div class="row text-white my-5 text-center ">
        <div class="col-md-4 ">
            <i class="fas fa-search-plus fa-2x mb-3 cor "></i>
            <h3 class="st">Seo</h3>
        </div>
        
        <div class="col-md-4 ">
            <i class="fas fa-video fa-2x mb-3 cor "></i>
            <h3 class="st">Video Editing</h3>
        </div>
        <div class="col-md-4">
            <i class="fas fa-headset fa-2x mb-3 cor "></i>
            <h3 class="st  ">Support</h3>
        </div>
    </div>
</div>

{% endblock %}